<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MousePrecision" value="false"/>
    <add key="TaskbarCombine" value="false"/>
    <add key="ClearTaskbarPin" value="true"/>
    <add key="RdpServer" value="example.com"/>
    <add key="RdpUser" value="example_user"/>
    <add key="MouseSpeed" value="14"/>
    <add key="ShowFilenameExtension" value="true"/>
    <add key="StartExplorerToThisPC" value="true"/>
  </appSettings>
</configuration>